<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class=""> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta name="application-name" content="Portfolio"/>
	<meta name="description" content="Una pequeña web de diseño adaptable para una breve presentación"/>
	<meta name="author" content="cabrera-dcc (https://github.com/cabrera-dcc)"/>
	<meta name="version" content="Beta2 (rev. 20150901)"/>
	<meta name="license" content="Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional de Creative Commons"/>
	<meta name="keywords" content="portfolio,sysadmin,devops,desarrollador de aplicaciones web,administrador de sistemas informáticos"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>DCC | Diseños</title>
	<link rel="image_src" type="image/jpeg" href="../images/thumbnail-dcc.jpg"/>
	<link rel="icon" type="image/png" href="../images/dcc.ico"/>
	<link rel="stylesheet" type="text/css" href="../css/resources/normalize-3.0.2.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/resources/slicknav.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/resources/hover.custom.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/pf/common.min.css"/>
	<style type="text/css">
		h2{
			display: block;
			margin: 20px 0 0 0;
			text-align: center;
		}
	</style>
</head>
<body>
	<noscript>¡Tu navegador no soporta JavaScript! Debes activarlo en tu navegador para visualizar correctamente este sitio</noscript>
	<nav>
		<ul id="menu" class="medium-menu">
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="hvr-shutter-out-vertical" hreflang="es" rel="bookmark" target="_self" type="text/html" href="../" itemprop="url"><span itemprop="title">PRINCIPAL</span></a></li>
			<li id="current-page" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="hvr-shutter-out-vertical" hreflang="es" rel="bookmark" target="_self" type="text/html" href="./designs-dcc.htm"><span itemprop="title">DISEÑOS</span></a></li>
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="hvr-shutter-out-vertical" hreflang="es" rel="bookmark" target="_self" type="text/html" href="./info-dcc.htm"><span itemprop="title">MÁS INFO</span></a></li>
		</ul>
	</nav>
	<div class="borderline"></div>
	<main>
		<h2>Under construction</h2>
	</main>
	<script type="text/javascript" src="../js/resources/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../js/resources/jquery.slicknav.min.js"></script>
	<script type="text/javascript">$(function(){ $('#menu').slicknav(); });</script>
</body>
</html>
