animation(value)
	-moz-animation value
	-o-animation value
	-webkit-animation value
	animation value

border-radius(value)
	-moz-border-radius value
	-webkit-border-radius value
	border-radius value

box-shadow(value)
	-moz-box-shadow value
	-webkit-box-shadow value
	box-shadow value
	
transform(value)
	-moz-transform value
	-ms-transform value
	-o-transform value
	-webkit-transform value
	transform value

transition(value)
	-moz-transition value
	-o-transition value
	-webkit-transition value
	transition value
