black = #000
grey = #aaa
red = #99000d
white = #fff

max-width = 100%
max-small-breakpoint = 767px
min-medium-breakpoint = 768px

small-main-photo-x = 200px
small-main-photo-y = 260px
medium-main-photo-x = 300px
medium-main-photo-y = 390px

background-social-logo-size = 100% 100%
small-social-logo-x = 24px
small-social-logo-y = small-social-logo-x
medium-social-logo-x = 32px
medium-social-logo-y =  medium-social-logo-x

main-photo-url = "../../images/cabreradcc-logo.jpg"
twitter-logo-url = "../../images/twitter-logo.png"
facebook-logo-url = "../../images/facebook-logo.png"
google-plus-logo-url = "../../images/googleplus-logo.png"
linkedin-logo-url = "../../images/linkedin-logo.png"
github-logo-url = "../../images/github-logo.png"
